PORT=3000
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
DROPBOX_ACCESS_TOKEN=your_dropbox_token
GOOGLE_SHEETS_CREDENTIALS='{"type":"service_account","project_id":"your_project_id",...}'
PROXY_SERVER=http://proxy.example.com:8080
